<div class="container mt-3">
  <h1>Categories of movies</h1>
  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list) %></li>
      <% end %>
      <%= link_to "Create a new list", new_list_path %>
  </ul>
</div>
